.address-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #23334d;
  align-items: center;
  justify-content: center;
}

.address-side-menu {
  display: inherit;
  flex-direction: column;
  flex: 1;
  min-height: inherit;
  box-shadow: #182335 3px 3px;
}

.address-side-menu-action-bar {
  display: flex;
  flex-direction: row-reverse;
}

.address-details-container {
  width: 60%;
  align-self: flex-start;
}

.address-details-header {
  display: flex;
  flex-direction: row-reverse;
}

#details-header > * {
  margin: 10px;
}

.address-details {
  display: inherit;
  flex-direction: column;
  flex: 2;
  min-height: inherit;
  border: solid #182335;
  border-width: 1px;
}

.address-details-footer {
  position: fixed;
  display: flex;
  width: 100%;
  height: 5vh;
  bottom: 0;
}

.address-contact {
  min-height: 20px;
}

.contact-dialog {
  background: #23334d;
}

.contact-dialog-content {
  background-color: #313f55;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dialog-button {
  color: white;
}

.dialog-button:disabled {
  color: white;
}

